.App {
  padding-top:100px ;
}
.container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EEF3ED;
  box-shadow: 0px 0px 20px 20px #FAEDD6 inset;
}
.container h2 {
  color: #C1744D;
}
.container input {
  width: 200px ;
  height: 40px;
  border: 1px solid #C1744D;
  border-radius: 10px;
  margin: 20px 0px;
}
.container input:focus {
  outline: none;
  border: 2px solid #C1744D;
}
.container button {
  display: block;
  margin: auto;
  width: 150px;
  height: 30px;
  background-color: #ac572d;
  color: #EEF3ED;
  border-radius: 5px;
  border: 0;
}
.tasks .task {
  display: flex;
  list-style: none;
  cursor: pointer;
  font-size: 22px ;
  color: #C1744D;
  margin: 20px 0px;
  word-wrap: break-word ;
} 
.task .tasktext {
  text-align: start;
  padding-right: 10px ;
 }
.diffstyle {
  color: green;
}
.col-2{
  display: flex;
  justify-content: end;
  flex-wrap: nowrap;
}
@media (max-width : 1400px) {
  .container {
    width: 720px !important;
  }
}
@media (max-width : 576px) {
  .container {
    width: 100% !important;
  }
}
